.icons {
    max-height: 200px;
    margin-top: 10px;

}


.container {
    background-color: rgb(207, 253, 238);
    width: 500px;
    height: 100%;
    margin: 10px;
    border-radius: 20px;
    display: grid;
}
.top {
    background-color: rgb(163, 219, 200);
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: beige;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.left-column {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.right-top {
    background-color: rgb(163, 219, 200);
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: beige;
    height: 200px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.right-bottom {
    background-color: rgb(163, 219, 200);
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: beige;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    font-weight:900;
}
button {
    margin: 10px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 2px 3px grey;
}

/* input */
input[type=radio] {
    display: none;
}
input[type=radio]:checked + img {
    border: solid red;
} 

input[type=radio]:not(:checked) + img:hover {
    opacity: 70%;
}