.icons {
    max-height: 200px;
    margin-top: 10px;

}


.container {
    background-color: aquamarine;
    height: auto;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
}
.top {
background-color: azure;

grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
text-align: center;
}

.left-column {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 6;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

}

.right-top {
border-style: solid;
border-color: black;
border-width: 2px;
border-radius: 20px;
height: 200px;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.right-bottom {
border-style: solid;
border-color: black;
border-width: 2px;
border-radius: 20px;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 4;
grid-row-end: 6;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h1 {
    font-size: 30px;
    font-weight:900;
}
button {
    margin: 10px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 2px 3px grey;
}

/* input */
input[type=radio] {
    display: none;
}
input[type=radio]:checked + img {
    border: solid red;
} 

input[type=radio]:not(:checked) + img:hover {
    opacity: 70%;
}